a,
button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: var(--theme-primary);
}

a[href^="./parcours-disponibles"]::before,
a[href^="http"]::after,
a[href^="mailto"]::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-size: contain;
}

a[href^="http"]::after {
  background-image: url(./images/external-link-symbol.svg);
  vertical-align: -3px; /* Référence : milieu de ligne */
}

a[href^="mailto"]::after {
  background-image: url(./images/mail-symbol-white.svg);
  display: none;
  vertical-align: -2px; /* Référence : milieu de ligne */
}

a[href^="./parcours-disponibles"]::before {
  background-image: url(./images/parcours-symbol.svg);
  vertical-align: -2px; /* Référence : milieu de ligne */
  margin-right: 15px;
  margin-left: 0;
}

a[href$=".docx"]::after,
a[href$=".doc"]::after,
a[href$=".pdf"]::after,
a[href$=".zip"]::after {
  display: none;
}

a[href^="http"].button::after,
a[href^="http"].button-outline::after {
  filter: brightness(0) invert(1);
}

a[href^="mailto"].button::after,
a[href^="mailto"].button-outline::after {
  display: inline-block;
}

.raccourcis a {
  text-decoration: none;
}
