a,
button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: var(--theme-primary);
}

a[href^="http"]::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url(./images/external-link-symbol.svg);
  background-size: contain;
  vertical-align: sub; /* bas du soulignement */
}

a[href$=".docx"]::after,
a[href$=".doc"]::after,
a[href$=".pdf"]::after,
a[href$=".zip"]::after {
  display: none;
}
