ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  position: relative;
  padding-left: 18px;
}

ul li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 12px;
  background-color: var(--theme-primary);
}

ul li + li {
  margin-top: 10px;
}

.section-color ul li::before {
  background-color: white;
}
