
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="footer__logo">
            <img src="images/lab110bis.svg" alt="Logo 110bis">
        </div>
        <ul class="footer__links">
            <li><h2>Clause sociale de formation</h2></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="mailto:clausesocialedeformation@education.gouv.fr">Nous contacter</a></li>
        </ul>
        <ul class="footer__links"></ul>
    </div>
</footer>

</body>
</html>