<header class="navbar" role="navigation">
  <div class=container>
    <div class="navbar__container">
      <div>
            <img class="navbar__logo" src="images/ministere-education-nationale.svg" alt="Ministère de l'Éducation Nationale"/>
        <a class="navbar__home" href="index.html">
          <img src="images/PSF-logo-hauteur-betagouv.svg" alt="Parcours solidaire de formation">
        </a>
      </div>
    </div>

        <nav class="navbar__container">
            <ul class="nav__links">
              <li class="nav__item">
                <a href="index.html" 
                   {% if page.url == "/" %}
                     class="active"
                   {% endif %}
                   >
                   Accueil
                </a>
              </li>
              <li class="nav__item">
                <a href="a-propos.html" 
                   {% if page.url == "/a-propos.html" %}
                     class="active"
                   {% endif %}
                   >
                   Présentation
                </a>
              </li>
              <li class="nav__item">
                <a href="faq.html" 
                   {% if page.url == "/faq.html" %}
                     class="active"
                   {% endif %}
                   >
                   Foire aux questions
                </a>
              </li>
            </ul>
            <ul class="nav__links">
              <li class="nav__item">
                <a href="acheteur.html" 
                   {% if page.url == "/acheteur.html" %}
                     class="active"
                   {% endif %}
                   >
                   Acheteur
                </a>
              </li>
              <li class="nav__item">
                <a href="mlds.html" 
                   {% if page.url == "/mlds.html" %}
                     class="active"
                   {% endif %}
                   >
                   <abbr title="Mission de Lutte contre le Décrochage Scolaire">MLDS</abbr>
                </a>
              </li>
              <li class="nav__item">
                <a href="entreprise.html" 
                   {% if page.url == "/entreprise.html" %}
                     class="active"
                   {% endif %}
                   >
                   Entreprise
                </a>
              </li>
              <li class="nav__item">
                <a href="jeune.html" 
                   {% if page.url == "/jeune.html" %}
                     class="active"
                   {% endif %}
                   >
                   Jeune
                </a>
              </li>
            </ul>
        </nav>
  </div>
</header>
