<div class="parcours-tuteur-mlds">
  <div class="grid-parcours">
    <div class="start-1_end-3">
      <div class="parcours-with-background">
        <span>Je suis <strong>en décrochage</strong></span>
      </div>
    </div>
    <div class="start-3_end-5">
      <div class="parcours-with-background">
        <span>Une des <a href="#offres">offres ci-dessous</a> m'intéresse</span>
      </div>
    </div>
    <div class="start-5_end-7">
      <div class="parcours-with-background">
        <span>La <abbr title="Mission de Lutte contre le Décrochage Scolaire"><strong>MLDS</strong></abbr> m'accompagne</span>
      </div>
    </div>
    <div class="start-7_end-9">
      <div class="parcours-with-background">
        <span>Une <strong>convention de stage</strong> est signée</span>
      </div>
    </div>
  </div>
</div>

<div class="container-bouton-action">
  <a class="button large bouton-action" href="mailto:clausesocialedeformation@education.gouv.fr?subject=Je postule à une offre">Je postule</a>
</div>

<p>Un parcours de plus de <strong>2 mois et 1 jour</strong> est gratifié d'environ <strong>600 Euros par mois</strong>.<br> Une durée moins longue ne sera gratifiée que pour les offres créées après fin 2020 (colonne "Créé le" ci-dessous).</p>
