.card {
  background: var(--theme-background-white);
  border-radius: 2px;
  box-shadow: var(--theme-box-shadow);
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--theme-border-lighter);
}

.card:empty {
  border: none;
  visibility: hidden;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  background: none;
}

.card a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card a::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 14px;
  margin-left: 12px;
  background: url(/images/arrow-right.svg);
}

.card h3 {
  display: inline;
  font-size: 1.25em;
  line-height: 1.25;
}

.row .card + .card {
  margin-left: var(--space-m);
}

@media (--smaller-than-tablet) {
  .row > .card {
    margin: 0;
  }

  .row > .card + .card {
    margin-left: 0;
    margin-top: var(--space-m);
  }
}

.card__cover {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-grey);
  padding: 10px;
}

.card__cover--small {
  height: 150px;
}

.card__cover img {
  height: 100%;
  width: 100%;
}

.card__content {
  padding: var(--space-m);
  flex-grow: 1;
}

.card__content h3 {
  margin: 0;
}

.card__content .card__meta {
  color: var(--darker-grey);
}

.card__content .card__meta time::after {
  content: " • ";
}

.card__content :last-child {
  margin-bottom: 0;
}

.card__extra {
  border-top: 1px solid var(--theme-border);
  padding: var(--space-s);
}

.card-quote .text-quote {
  margin: 0;
  padding: 20px 20px 20px 35px;
}

.card-quote .text-quote footer {
  text-align: right;
  font-weight: bold;
  margin-top: 12px;
}
