.intro {
  text-align: center;
  padding-top: var(--space-xxl);
}

.intro h2 {
  margin-bottom: 0;
}

h1 a:hover,
h1 a:visited,
h1 a:link,
h1 a:active,
h2 a:hover,
h2 a:visited,
h2 a:link,
h2 a:active {
  text-decoration: none;
}

h1 a::after,
h2 a::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 18px;
  margin-left: 12px;
  background: url(./images/arrow-right.svg);
}
