.offres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  text-align: center;
}

.offres + .offres {
  margin-top: 20px;
}

.offres > a[class^=button] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offres .button.primary {
  margin: 0;
}

@media (--smaller-than-tablet) {
  .offres {
    display: block;
  }

  .offres > a[class^=button]:not(:first-of-type) {
    margin-top: 20px;
  }
}
