.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.partners li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.partners li::before {
  display: none;
}

.partners img {
  max-width: 100%;
  max-height: 150px;
}
