.tiles .grid {
  margin-top: 0;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-background-white);
  width: 100%;
  padding: var(--space-s);
  transition: all 0.1s ease-in;
  font-size: 1.25em;
}

.tile-colored:hover {
  color: var(--darkest-grey);
  border-color: var(--darkest-grey);
}

a.tile-colored,
.tile-colored {
  background-color: var(--theme-background-white);
  border: 1px solid var(--darker-grey);
  text-decoration: none;
  color: var(--darker-grey);
}

.tile h3 {
  margin: 0;
}

.tile__icon {
  height: var(--space-l);
}

@media(--smaller-than-tablet) {
  .tile:empty {
    display: none;
  }
}
