<p>Le dispositif Clause Sociale de Formation permet de s'appuyer sur les marchés publics pour offrir des opportunités de parcours en entreprise pour les jeunes en situation de décrochage scolaire.</p>

<section>
<h1>Vous êtes un acheteur ?</h1>

<%= link_to 'Proposez un parcours', new_parcours_path %>
</section>
