<h1>La clause sociale de formation sous statut scolaire</h1>

<p><strong>un moyen de vous engager dans l'achat public responsable.</strong></p>

<p>Le décrochage scolaire est une cause nationale : <strong>80 000 jeunes</strong>
décrochent du système scolaire chaque année en France.</p>

<p>La clause sociale de formation permet à un jeune en situation de
décrochage scolaire de <strong>réaliser un parcours en entreprise</strong> pour
l'aider à définir un projet professionnel, en réalisant un parcours
adapté « sur mesure ». Elle peut constituer <strong>un tremplin vers le
  retour en formation du jeune mais aussi l’insertion et l’emploi</strong>.</p>

<p><strong>Facile à mettre en place</strong>, la clause sociale de formation vous permet de répondre à l'obligation du <a href="https://www.actu-environnement.com/media/pdf/news-24434-pnaapd-2015-2020.pdf">PNAAPD</a> de 25% de marchés avec disposition à caractère social d’ici 2020.</p>

<p>Tout au long du parcours, <strong>vous êtes en lien avec l'Education
  nationale</strong> (Ministère et Mission de Lutte contre de Décrochage
Scolaire (MLDS) en académie) pour mener à bien la mise en place
de la clause.</p>

<h1>le rôle de l'acheteur à chaque étape du parcours</h1>

<ul>
  <li>Découvrez le parcours type de l'acheteur et téléchargez tous les documents utiles pour chaque étape de la clause</li>
  <li>L'acheteur est un rouage essentiel dans la mise en oeuvre de la clause sociale de formation : on vous explique en détail pourquoi</li>
</ul>

<%= link_to 'Proposer un parcours', new_parcours_path, class: "button" %>
