<header class="header-guide">
  <h1>La clause sociale de formation sous statut scolaire</h1>
  <p class="guide-sous-titre">Guide pratique à destination des acheteurs</p>
</header>

<section class="section-guide">
  <h1>Un moyen de vous engager dans l'achat public responsable</h1>

<p>Le décrochage scolaire est une cause nationale : <strong>80 000 jeunes</strong> décrochent du système scolaire chaque année en France.</p>

<p>La clause sociale de formation permet à un jeune en situation de décrochage scolaire de <strong>réaliser un parcours en entreprise</strong> pour l'aider à définir un projet professionnel, en réalisant un parcours adapté « sur mesure ». Elle peut constituer <strong>un tremplin vers le retour en formation du jeune mais aussi l’insertion et l’emploi</strong>.</p>

<p><strong>Facile à mettre en place</strong>, la clause sociale de formation vous permet de répondre à l'obligation du <a href="https://www.actu-environnement.com/media/pdf/news-24434-pnaapd-2015-2020.pdf">PNAAPD</a> de 25% de marchés avec disposition à caractère social d’ici 2020.</p>

<p>Tout au long du parcours, <strong>vous êtes en lien avec l'Education nationale</strong> (Ministère et Mission de Lutte contre de Décrochage Scolaire (MLDS) en académie) pour mener à bien la mise en place de la clause.</p>

</section>


<section class="section-guide">
<h1>le rôle de l'acheteur à chaque étape du parcours</h1>

<ul>
  <li>Découvrez le parcours type de l'acheteur et téléchargez tous les documents utiles pour chaque étape de la clause</li>
  <li>L'acheteur est un rouage essentiel dans la mise en oeuvre de la clause sociale de formation : on vous explique en détail pourquoi</li>
</ul>

</section>

<section class="section-guide">
  <h1>Comment ça marche ?</h1>

  <%= render "timeline-acheteur.svg" %>

  <dl>
    <dt>S'engager dans les achats publics responsables</dt>
    <dd>
    <ul><li>Formaliser une convention avec la MLDS de son académie (<a href="http://cache.media.education.gouv.fr/file/Lab_110bis/07/3/20191203_CSF_a_adapter_convention_de_partenariat_acheteur-MLDS_1216073.docx">convention type</a>)</li></ul></dd>

    <dt>Formaliser son marché</dt>
    <dd><ul><li>Insérer la clause dans son marché (<a href="http://cache.media.education.gouv.fr/file/Lab_110bis/06/9/20191203_CSF_proposition_de_redaction_type_de_la_clause_1216069.zip">rédaction type</a>)</li></ul></dd>

    <dt>Période de consultation</dt>
    <dd><ul><li>Analyser la clause proposée (<a href="http://cache.media.education.gouv.fr/file/Lab_110bis/08/0/20191128_CSF_Grille_d_analyse_1216080.docx">exemple de grille d'analyse</a>)</li></ul></dd>

    <dt>Notification du marché</dt>
    <dd><ul><li>Déclarer le parcours à l'Education nationale (<a href="https://airtable.com/shrEzwLd6dgEVPlYm">remplir le formulaire en ligne</a>)</li></ul></dd>

    <dt>Lancement du marché</dt>
    <dd><ul><li>Rappeler à l'entreprise ses engagements (<%= link_to "éléments de présentation", entreprise_path %>)</li></ul></dd>

    <dt>Exécution du marché</dt>
    <dd>
    <ul>
      <li>Etre attentif à la réponse de l'entreprise ("pouvoir contraingnant")</li>
      <li>Participer, si vous le souhaitez, à la réunion de présentation avec le jeune</li>
      <li>Partage du bilan</li>
    </ul>
    </dd>
  </dl>


</section>

<section class="section-guide">
  <h1>Rôle de l'acheteur</h1>
  <p>
  <dl>
    <dt>En amont du process</dt>
    <dd>L'acheteur est le premier maillon impliqué dans la clause, c'est grâce à lui que le parcours existe.</dd>

    <dt>Diffusion du parcours</dt>
    <dd>Une fois le marché notifié, l'acheteur renseigne le parcours proposé par l'entreprise.</dd>

    <dt>Mise en relation avec le jeune</dt>
    <dd>L'acheteur intervient en cas de blocage avec l'entreprise dans le cadre de l'exécution du marché.</dd>
  </dl>
  </p>
</section>

<section class="section-guide">
  <h1>En amont du process</h1>
  <p>Le calibrage de la clause est exprimée en heures de formation. Voici un exemple de nombre d'heures en fonction du volume financier sur la période ferme du marché, c’est-à-dire en dehors des reconductions éventuelles (il ne s’agit que d’indications)&nbsp;:</p>
  <table>
    <thead>
      <tr>
        <td>Calibrage de la clause</td>
        <td>Montant prévisionnel sur la période ferme du marché</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>150 heures</td>
        <td>Entre 1€ et 99 000 €</td>
      </tr>
      <tr>
        <td>300 heures</td>
        <td>Entre 100 000€ et 199 000 €</td>
      </tr>
      <tr>
        <td>450 heures</td>
        <td>Entre 200 000€ et 399 000 €</td>
      </tr>
      <tr>
        <td>900 heures</td>
        <td>A partir de 400 000€</td>
      </tr>
    </tbody>
  </table>

  <h2>Points d'attention</h2>
  <ul>
    <li>Le marché doit être suffisamment long (1 an ou plus) pour laisser le temps d'identifier et de préparer un jeune.</li>
    <li>Etre particulièrement vigilent au moment de l'analyse de l'offre sur le fait que la fiche entreprise soit bien remplie et en particulier le champ "référent entreprise".</li>
  </ul>

  <p>Pièces a télécharger
  <ul>
    <li>Rédaction type d'une clause à insérer</li>
    <li>Exemple de grille d'analyse</li>
    <li>Modèle de convention de partenariat acheteur-MLDS à adapter</li>
  </ul>
  </p>
</section>

<section class="section-guide">
  <h1>Diffusion du parcours</h1>
  <p> A la notification du marché, l’acheteur déclare à l’Education nationale l’offre de parcours obtenue&nbsp;:
  </p>
  <%= link_to 'Formulaire en ligne à renseigner', new_parcours_path, class: "button" %>
  <p>A partir de ce moment là, l'offre est diffusée dans les établissements afin d'identifier un jeune qui pourrait bénéficier du parcours proposé.</p>
<p>Une fois identifié, un tuteur de l'éducation nationale est désigné pour préparer le jeune (CV, lettre de motivation, soft skills, etc.) et l'accompagner pendant toute la durée du parcours, en lien avec le référent entreprise.</p>

  <h2>Points d'attention</h2>
<p>Les profils de jeunes ne sont pas immédiatement disponibles, ils sont établis en suivant le calendrier scolaire (à partir d’octobre jusqu’à fin juillet), à l’issue d’entretiens de situation.</p>
<p>Ainsi, plusieurs mois peuvent être nécessaires à la proposition d’un profil.</p>

<p><strong>Pendant ce laps de temps, il est important que ni l'acheteur ni l'entreprise ne se démobilisent.</strong></p>
<p>
L'acheteur ne doit pas hésiter à rappeler à l'entreprise ses
engagements en lui expliquant ce qu'est la clause sociale de
formation (en utilisant une référence vers la page <%= link_to 'clause-sociale-de-formation.fr/entreprise', entreprise_path %>.
</p>
</section>

<section class="section-guide">
  <h1>Mise en relation avec le jeune</h1>

  <p>Dès qu'un jeune est prêt à commencer, l'Education nationale (via l'adresse <a href="mailto:clausesocialedeformation@education.gouv.fr">clausesocialedeformation@education.gouv.fr</a>) envoie un mail à l'entreprise pour convenir rapidement d'une date de présentation.</p>

  <p>L'acheteur est destinataire de ce message et doit alors&nbsp;:</p>
  <ul>
    <li>veiller à ce que l'entreprise apporte une réponse rapidement : <strong>si l'entreprise est injoignable ou qu'elle apporte une réponse négative</strong>, l'acheteur exerce alors le pouvoir contractuel qui le lie à l'entreprise en demandant les raisons ces réticences et en lui rappelant ses engagements ;</li>
    <li>si l'entreprise n'a pas répondu au bout d'une semaine, l'acheteur doit user de son pouvoir contractuel pour <strong>aider le tuteur pédagogique à prendre contact en direct</strong> ;</li>

    <li>une fois le rdv de présentation fixé, l'acheteur peut, si il le souhaite assister à cette réunion en présence du jeune, de son tuteur et du référent entreprise.</li>
  </ul>

  <h2>POINTS D'ATTENTION</h2>
  <p>Il s'agit souvent du <strong>moment le plus crucial</strong> dans la mise en oeuvre de la clause ! Parfois, les entreprises sont réticentes à l'idée d'accueillir un jeune pour différentes raisons&nbsp;:</p>

  <ul>
    <li>elles ne se souviennent plus avoir rempli la fiche entreprise au moment de la consultation&nbsp;;</li>
    <li>le contact "référent entreprise" indiqué au moment de la consultation n'est plus le bon et la demande reste lettre morte&nbsp;;</li>
    <li>l'entreprise confond un "stage" classique avec un parcours de remobilisation, taillé pour des jeunes en situation de décrochage scolaire.</li>
  </ul>

  <p>A cette étape, <strong>l'acheteur peut être amené à aider à la médiation entre l'entreprise et le tuteur pédagogique</strong> en usant du pouvoir contractuel qui le lie à l'entreprise.</p>
</section>

