<h1>Vous venez de remporter un marché public !</h1>

<p>Félicitations ! Vous venez de remporter un marché public !
Une clause sociale de formation sous statut scolaire est prévue au contrat : de quoi s’agit-il et comment va-
t-elle se dérouler ?</p>

<h2>En quelques mots&nbsp;: la clause sociale de formation sous statut scolaire dans les marchés publics, qu'est-ce que c'est&nbsp;?</h2>

<p>Le décrochage scolaire est une cause nationale : 80 000 jeunes décrochent du système scolaire chaque
année en France.
La clause sociale de formation permet à un jeune en situation de décrochage scolaire de réaliser un
parcours en entreprise pour l&#39;aider à définir un projet professionnel, en réalisant un parcours adapté « sur
mesure ».
Cette clause repose sur de nombreux acteurs : jeune en situation de décrochage, entreprise, acheteurs et
personnels de la mission de lutte contre le décrochage scolaire (MLDS). Elle peut constituer un tremplin
vers l’insertion et l’emploi, et permet de développer le rapport École/Entreprise.</p>

<h2>Temps d'étude de votre offre de parcours par l'éducation nationale</h2>

<p>L’Education nationale prend en charge la proposition du profil bénéficiaire de la clause sociale de formation.
Attention : les profils de jeunes ne sont pas immédiatement disponibles, ils sont établis en suivant le calendrier
scolaire (donc à partir d’octobre jusqu’en fin d’année scolaire), à l’issue d’entretiens de situation. Il y a donc une certaine durée à prévoir côté acheteur et côté entreprise : plusieurs mois peuvent être nécessaires à la proposition d’un profil.</p>

<h2>Une fois le profil établi&nbsp;:</h2>

<p>La MLDS établit avec le jeune un CV et une lettre de motivation). Elle désigne un tuteur pédagogique qui suivra le jeune pendant l’ensemble de son parcours en entreprise, en lien avec le référent entreprise.
Ainsi, lorsqu’un profil est proposé à l’entreprise par l’Education nationale, l’entreprise doit prendre connaissance du message transmis par l’Education nationale à l’entreprise, via l’adresse :</p>

<p><a href="mailto:clausesocialedeformation@education.gouv.fr">clausesocialedeformation@education.gouv.fr</a></p>

<p>A savoir : le donneur d’ordres est également destinataire de ce message, transmettant le CV et la lettre de motivation du jeune à l’entreprise, avec le nom et les coordonnées du tuteur pédagogique.</p>

<p>
<strong>Une réponse rapide de l'entreprise est alors attendue&nbsp;! Un jeune attend...</strong>
</p>

<p class="encart">Une fois le profil transmis à l’entreprise, une réunion de présentation du jeune à l’entreprise est réalisée : elle constitue un moment clef du parcours et permet de définir les missions confiées et les modalités pratiques. C’est
aussi l’occasion d’adapter la « fiche entreprise » au profil du jeune. La présence de l’acheteur à cette réunion n’est pas obligatoire, mais elle est conseillée.
Une convention de stage tripartite est signée entre l’entreprise, l’établissement scolaire d’accueil et le jeune
bénéficiaire.
La convention de stage est un document très important : c’est elle qui permet de donner un statut au jeune
lorsqu’il est en entreprise.</p>

<h2>Pendant le parcours&nbsp;:</h2>

<p>Le jeune réalise son parcours, conformément à la Fiche entreprise et aux échanges réalisés lors de la réunion de
présentation du jeune.</p>

<p class="encart">
Pendant la période en entreprise, le tuteur pédagogique et le référent entreprise gardent un contact privilégié et
régulier. Le jeune bénéficiaire de la clause tient un journal de bord, valant rapport de stage à l’issue du parcours.</p>

<h2>En fin de parcours&nbsp;:</h2>

<p>Le référent entreprise réalise avec le tuteur pédagogique de l’Education nationale un bilan croisé du parcours du
jeune.</p>

<p class="encart">
A la fin du stage, le tuteur pédagogique de l’éducation nationale et le référent entreprise établissent un bilan croisé sur le déroulement du parcours effectué par le jeune, permettant de vérifier les compétences acquises, non
acquises et en voie d’acquisition.
Ce bilan est remis à l’acheteur, ce qui lui permet de s’assurer que la clause sociale a bien été réalisée par le titulaire du marché : ainsi, outre son importance pédagogique, ce document a une </strong>valeur juridique</strong>.</p>

<p class="encart">
Une fois le bilan réalisé, le tuteur pédagogique fait le point avec le jeune et explore, avec l’entreprise, toutes les possibilités pérennes de retour en formation ou d’accès à l’emploi. Par ailleurs, le bilan croisé permet de cerner les différentes formations qui pourraient être proposées au jeune à l’issue de son parcours.
</p>

<h2>Pour aller plus loin&nbsp;: quelques liens utiles pour s’informer…</h2>

<ul>
  <li><a href="https://www.education.gouv.fr/pid37517/la-clause-sociale-de-formation-sous-statut-scolaire.html">education.gouv.fr/la-clause-sociale-de-formation-sous-statut-scolaire</a></li>
  <li><a href="http://achats.aji-france.com/mission_des_achats/la_clause_sociale_de_formation_sous_statut_scolaire">ahats.aji-france.com/mission_des_achats/la_clause_sociale_de_formation_sous_statut_scolaire</a></li>
</ul>
