<h1>L'entreprise et la Clause Sociale de Formation</h1>

<p>Vous répondez ou avez répondu à un appel d'offre avec une Clause Sociale de Formation.</p>

<h2>Les jeunes en situation de remobilisation scolaire</h2>

<ul>
  <li>Les jeunes ont entre 16 et 20 ans.</li>
  <li>La sortie du système scolaire n'est qu'une parenthèse. Elle peut venir d'une absence de place en Lycée ou dans une formation choisie.</li>
  <li>L'immertion professionnelle est un levier pour le jeune qui a envie de découvrir le monde professionnel et les compétences qui s'y déploient.
</ul>

<h2>La 1ère rencontre avec le jeune</h2>
<ul>
  <li>Le jeune est soigneusement sélectionné par son tuteur en fonction de son appétance avec les tâches indiquées dans le parcours.</li>
  <li>Il y a une clause de non-concurrence à la fois entre les jeunes et les tuteurs. Un seul jeune vous sera présenté.</li>
  <li>Un travail collaboratif permet de définir les missions. Par exemple un parcours initialement administratif peut devenir un parcours de vente.</li>
  <li>La rencontre avec le jeune détermine les modalités de mise en oeuvre. Ce n'est pas un entretien d'embauche. Il est possible de la répéter.</li>
  <li>Le jeune ne saura pas décrire précisément ce qui le motive car il ne se projete pas encore dans le travail qu'il va réaliser.</li>
</ul>


<p><strong>Quand un profil vous est proposé, vous devez répondre sous 15 jours.</strong></p>

<%= link_to "Revenir à l'accueil", root_path %>
