<h1>L'entreprise et la Clause Sociale de Formation</h1>

<p>Vous répondez ou avez répondu à un appel d'offre avec une Clause Sociale de Formation.</p>

<h2>Les décrocheurs</h2>

<ul>
  <li>Les décrocheurs ont entre 16 et 20 ans.</li>
  <li>Ils et elles viennent de tous les milieux sociaux et culturels.</li>
  <li>La sortie du système scolaire peut être du à une absence de place en Lycée ou dans une formation choisie. Le décrochage peut n'être qu'une parenthèse.</li>
</ul>

<h2>La 1ère rencontre avec le décrocheur</h2>
<ul>
  <li>Vous n'aurez pas à choisir entre plusieurs décrocheurs. Vous serez tenu de prendre le décrocheur qui vous sera présenté. Cela peut sembler une restriction de la liberté de choix. Lorsque l'on choisit une personne avec qui on s'entends bien, cela favorise l'entre-soi.</li>
  <li>Le décrocheur est soigneusement sélectionné par son tuteur en fonction de son appétance avec les tâches indiquées dans le parcours.</li>
  <li>Il est possible d'envisager des tâches différentes si l'entreprise et le décrocheur le souhaite. Par exemple un parcours administratif peut être transformé en un parcours de vente.</li>
  <li>La rencontre avec le jeune est un moment pour faire connaissance, pas un entretien d'embauche. Il est possible d'organiser plusieurs rencontres avant le début du stage.</li>
</ul>

<p>Ce qu'il faut savoir sur la motivation&nbsp;:</p>

<ul>
  <li>Si le jeune est venue à la rencontre c'est qu'il est motivé. Un adolescent ne vient pas à une rencontre s'il n'est pas motivé.</li>
  <li>Le décrocheur ne sera en revanche pas en mesure de décrire précisément ce qui le motive car il n'est pas en capacité de se projeter dans le travail qu'il va réalisé. Le but de ce stage est justement qu'il découvre cet environnement.</li>
</ul>

<h2>Ce qui est attendu de l'entreprise</h2>

<ul>
  <li>Répondre en moins de 2 semaines à la solicitation du tuteur.</li>
  <li>Accueillir le jeune en moins de 3 mois.</li>
</ul>


<%= link_to "Revenir à l'accueil", root_path %>
