<h1>Témoignages</h1>

<h2>Jeunes bénéficiaires de la clause sociale</h2>

<blockquote>
<p>Tout l’intérêt pour moi de faire un stage dans le milieu professionnel dans lequel je fais mes études et de voir si c’est bien la voie que je veux continuer à emprunter. Cela a été une expérience très enrichissante. Maintenant je sais où pourrait aboutir ma formation actuelle.</p>
<footer>&mdash;Diouma S. / Paris</footer>
</blockquote>

<blockquote>
<p>Mon objectif et celui de la clause sociale étant de m’accompagner dans ma démarche de retour à la vie professionnelle, j’ai particulièrement soigné la chance que l’on m’a offert et j’ai su apprécier les connaissances qui m’ont été inculquées.</p>

<footer>&mdash;Adrian S. / Versailles</footer>
</blockquote>

<blockquote>
<p>Mon stage m'a beaucoup intéressée, j'ai pu découvrir les différentes activités de la gestion administration et avoir un aperçu global de son fonctionnement. Il m'a permis de me familiariser avec les différents services et d'avoir une approche réelle du monde du travail. J'ai pu faire le rapprochement entre ce que j'avais appris en cours et ce qui se passe vraiment dans l’entreprise. Après tout ça je ne compte pas changer de projet professionnel car ça me plait assez bien. J’ai appris que le travail d'équipe est très important car tous les services sont liés et doivent communiquer entre eux. </p>

<footer>&mdash;Dounia N./Créteil</footer>
</blockquote>

<blockquote>
<p>J’ai bien aimé mon stage parce que j’ai bien été accueilli par les personnes de l’entreprise l’ambiance était excellente je ne me suis pas ennuyé.
Pour ce qui est des tâches qu’on ma confié elles n’étaient pas très difficile d’ailleurs je les ai tous terminé quand je ne comprenais pas quelque chose j’allais voir la personne qui m’avait confié le travaille pour lui demander de me réexpliquer on ne me forçait pas à les faire. Après il y avait des choses que j’aime plus faire que d’autre comme travaillé sous Excel que j’ai bien aimé et le classement des factures pour agorastore que j’ai moins bien aimé mais je l’ai quand même fait.
J’ai appris beaucoup de chose pendant ce stage comme Excel, commander des tickets restaurants, comment sa se passait pour recruter de nouveau employé et plein d’autres choses.
Les horaires n’était pas très dur je faisais 9h30/17h tout les jours donc sa allait. Je n’ai pas d’autres choses à ajouter appart que se c’est très bien passé.</p>

<footer>&mdash;Giovanni F./ Créteil</footer>
</blockquote>

<h2>Tuteurs pédagogiques</h2>

<blockquote>
<p>Nous relevons des points positifs pour les jeunes parmi d’autres : un environnement dynamique, la confrontation des jeunes avec la réalité du monde du travail et l’apprentissage des codes de l’entreprise, la socialisation et les échanges avec des adultes aux parcours de formation variés, une approche concrète des contenus des métiers en termes de poste de travail et des tâches dans un ensemble de production, enfin la valorisation de l’estime de soi.</p>

<p>Tout ceci est très encourageant pour les actions croisées entre l’Education Nationale et le Monde du Travail.</p>

<footer>&mdash; Marie Camara-Parisier (académie de Créteil)</footer>
</blockquote>

<blockquote>
  <p>Je suis satisfaite que certains de nos jeunes aient pu intégrer ce dispositif, en espérant que plus de parcours soient réalisables l'année prochaine.</p>
  <p>J'ai rencontré des entreprises ouvertes à l'accueil des jeunes, bienveillantes et accueillantes. Les stages mis en place ont été pour chacun pertinents.</p>
  <footer>&mdash;Virginie Adalid-Moreno Chargée de mission « Mission de Lutte contre le Décrochage Scolaire » (académie de Créteil)</footer>
</blockquote>

<h2>Acheteurs</h2>
<blockquote>
  <p>Pour les acheteurs et les prescripteurs, cette clause permet de répondre à l’obligation de prise en compte du développement durable, dans sa composante sociale. </p>
  <p>Côté acheteur, les parcours réalisés par les jeunes bénéficiaires permettent de voir les effets concrets de la clause sociale. Par ailleurs, ce dispositif est complémentaire d’autres clauses sociales existantes (clauses d’insertion et marchés réservés, notamment).</p>
  <p>Les premiers résultats encourageants incitent désormais à généraliser ce dispositif novateur à l’ensemble des acheteurs, pour qu’ils se l’approprient et proposent des parcours aux Missions de Lutte Contre le Décrochage Scolaire (MLDS). En effet, le dispositif est ouvert à l’ensemble des acheteurs, qu’il s’agisse d’acheteur de l’Etat, des collectivités territoriales, de la fonction publique hospitalière ou d’autres structures (établissements nationaux ou locaux), et même les acheteurs du secteur privé.</p> 

<footer>Jean-Xavier Lichtlé, Référent ministériel pour les achats responsables Mission des achats des ministères chargés de l’éducation nationale et de l’enseignement supérieur, de la recherche et de l’innovation</footer>
</blockquote>

<blockquote>
  <p>Lorsque j'ai pris connaissance de la clause sociale de formation, je n'ai pas hésité à l'insérer dans le marché que j'avais en préparation (papier et fournitures de bureau). J'ai pensé en effet que le secteur d'activité était bien adapté pour garantir l'accueil d'un jeune sans trop de difficulté (les soumissionnaires avaient en effet à mon sens un large choix dans les activités à proposer: secrétariat, mise en rayon, préparation des commandes, gestion des stocks, livraison, comptabilité, etc...).</p>
<footer>Aurélie Rossat Responsable de la cellule académique des achats de la Martinique</footer>
</blockquote>
