.container {
  position: relative;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-plateforme,
.container-titre,
.container-cadres {
  position: relative;
  text-align: center;
}

.container-titre {
  padding-bottom: var(--space-s);
}

.container-cadres {
  padding-top: var(--space-s);
}

.container.container-medium {
  max-width: 750px;
}

.container.container-small {
  max-width: 550px;
}

.container.container-full {
  max-width: none;
}

.article__container {
  max-width: 35em;
}

@media (--smaller-than-phablet) {
  .container {
    padding: 0;
  }
}
