.dashboard {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: calc(100vh - 73px);
}

.dashboard .side-menu {
    flex: 1 1 auto;
    background: var(--white);
    position: sticky;
    top: 0;
  align-self: flex-start;
}

.dashboard .side-menu ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard .side-menu li::before {
    display: none;
}

.dashboard .side-menu li + li {
  margin-top: 0;
}

.dashboard .side-menu li li a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 80%;
  line-height: 1.4;
}

.dashboard .side-menu a {
    padding: var(--space-xs) var(--space-l);
    display: block;
    width: 100%;
    color: var(--theme-dark-text);
    text-decoration: none;
}

.dashboard .side-menu a.active {
    background: linear-gradient(to right, var(--theme-primary), var(--theme-primary) 5px, var(--lighter-grey) 5px, var(--lighter-grey));
}

.dashboard .side-menu a:hover {
    color: var(--theme-primary);
}

.dashboard .main {
    flex: 1 1 75%;
}

.dashboard .main > div {
    padding: var(--space-l);
    margin-top: var(--space-xl);
    background: var(--lighter-grey);
}

.dashboard .main > :first-child {
    margin-top: 0;
}

@media (--smaller-than-tablet) {
    .dashboard {
        flex-direction: column;
    }
}
