.footer {
  border-top: var(--theme-background-dark) 30px solid;
  color: var(--theme-dark-text);
  padding: var(--space-l) 0;
}

.footer a:hover {
  background: 0;
}

.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer .container > div:last-child > div {
  display: flex;
  justify-content: space-between;
}

.footer .container > div:last-child {
  flex-basis: 55%;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  padding-left: 0;
}

.footer__links {
  margin: 0;
  line-height: var(--space-l);
}

.footer__links li::before {
  display: none;
}

.footer__links h2 {
  margin-top: 0;
  margin-bottom: var(--space-xs);
}

.footer__links a {
  padding: 5px;
  color: var(--theme-dark-text);
  text-decoration: none;
}

.footer__links a:hover {
  background: var(--lighter-grey);
}

.footer__logo {
  width: 300px;
  height: auto;
}

.footer__logo img {
  width: 100%;
}

@media (--smaller-than-desktop) {
  .footer .container {
    flex-direction: column;
  }
}

@media (--smaller-than-phablet) {
  .footer__logo {
    width: 100%;
  }
}
