
<p id="notice"><%= notice %></p>

<h1>Académies</h1>

<ul>
  <% @nombre_parcours.each do |academie, nombre| %>
    <li><%= link_to("#{academie} (#{nombre})", parcours_a_suivre_path(academie: academie), class: "button") %></li>
  <% end %>
</ul>
